<% if user_signed_in? %>
  <h1><%= current_user.name %></h1>

  <p><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>

  <div class="vertical-tabs-container">
    <div class="vertical-tabs">
      <% current_user.skills.each do |skill| %>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="<%= skill.id %>"><%= skill.title %></a>
      <% end %>
    </div>

    <div class="vertical-tab-content-container">
      <% current_user.skills.each do |skill| %>
        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="<%= skill.id %>"><%= skill.title %></a>
        <div id="<%= skill.id %>" class="js-vertical-tab-content vertical-tab-content">
          <%= content_tag(:span, :"data-countdown" => skill.expiration_date) {} %>
        </div>
      <% end %>
    </div>
</div>


  <%= form_for @new_skill do |f| %>
    <%= f.text_field :title %>
    <%= f.submit "add" %>
  <% end %>
<% else %>
  <%= link_to "Sign in or sign up", new_user_session_path %>
<% end %>

<script>
  addSkill();
  countdown();
</script>