<h1><%= current_user.name %></h1>

<div class="skills">
  <% current_user.skills.each do |skill| %>
    <p><%= skill.title %> - <%= skill.time_remaining %></p>
  <% end %>
</div>

<%= form_for @new_skill do |f| %>
  <%= f.text_field :title %>
  <%= f.submit "add" %>
<% end %>

<script>
  addSkill();
</script>