<h1>skills</h1>
<p><%= current_user.name %></p>

<% current_user.skills.each do |skill| %>
  <%= skill.title %><br>
<% end %>

<%= form_for @new_skill do |f| %>
  <%= f.text_field :title %>
  <%= f.submit "add" %>
<% end %>