<% if user_signed_in? %>
  <h1><%= current_user.name %></h1>

  <p><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>

  <div class="vertical-tabs-container">
    <div class="vertical-tabs">
      <% @skills.each do |skill| %>
        <% if @first_link %>
          <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="<%= skill.id %>"><%= skill.title %></a>
          <% @first_link = false %>
        <% else %>
          <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="<%= skill.id %>"><%= skill.title %></a>
        <% end %>
      <% end %>
    </div>

    <div class="vertical-tab-content-container">
      <% @skills.each do |skill| %>
        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="<%= skill.id %>"><%= skill.title %></a>
        <div id="<%= skill.id %>" class="js-vertical-tab-content vertical-tab-content">
          <%= "Current streak: " + skill.current_streak.to_s %><br><br>
          <%= "Longest streak: " + skill.longest_streak.to_s %><br><br>
          <% if skill.time_remaining? %>
            Time remaining: 
            <%= content_tag(:span, :"data-countdown" => skill.expiration_date) {} %>
          <% else %>
            <%= skill.end_current_streak %>
          <% end %>
          <%= link_to('Refresh', refresh_path(skill)) %>
        </div>
      <% end %>
    </div>
  </div>

  <%= form_for @new_skill do |f| %>
    <%= f.text_field :title %>
    <%= f.submit "add" %>
  <% end %>
<% else %>
  <blockquote>"After a few days you'll have a chain. Just keep at it and the chain will grow longer every day. You'll like seeing that chain, especially when you get a few weeks under your belt. Your only job next is to not break the chain." - Jerry Seinfeld</blockquote>

  <span class="auth">
    <%= link_to "Sign in" , new_user_session_path %> or <%= link_to " sign up", new_user_registration_path %>
  </span>

<% end %>

<script>
  table();
  addSkill();
  countdown();
</script>