<div class="container">
  <div class="nav">
    <p class="name"><%= current_user.name %> - </p>
    <p class="signout"><%= link_to "sign out", destroy_user_session_path, method: :delete, class: "signout" %></p>
  </div>

  <div class="vertical-tabs-container">
    <div class="vertical-tabs">
      <% @skills.each do |skill| %>
        <div class="skill-tab">
          <% if @first_link %>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="<%= skill.id %>"><%= @count.to_s + ". " + skill.title %></a>
            <% @first_link = false %>
          <% else %>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="<%= skill.id %>"><%= @count.to_s + ". " + skill.title %></a>
          <% end %>
          <% @count += 1 %>
        </div>
      <% end %>
    </div>

    <div class="vertical-tab-content-container">
      <% @skills.each do |skill| %>
        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="<%= skill.id %>"><%= skill.title %></a>
        <div id="<%= skill.id %>" class="js-vertical-tab-content vertical-tab-content">
          Current streak: <span id="current<%= skill.id.to_s %>"><%= skill.current_streak.to_s %></span> <br><br>
          Longest streak: <span id="longest<%= skill.id.to_s %>"><%= skill.longest_streak.to_s %></span> <br><br>
          <% if skill.time_remaining? %>
            <span class="time-remaining<%= skill.id.to_s %>">Time remaining:</span>
            <%= content_tag(:span, :"data-countdown" => skill.expiration_date, 
            class: "data" + skill.id.to_s) {} %>
          <% else %>
            <% skill.end_current_streak %>
            <span class="time-remaining<%= skill.id.to_s %>">Chain broken:</span>
            <span class="data<%= skill.id.to_s %>"></span>
          <% end %>
          <%= link_to('Refresh', refresh_path(skill), class: "refresh-link") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= form_for @new_skill do |f| %>
  <%= f.text_field :title %>
  <%= f.submit "add" %>
<% end %>

<script>
  table();
  addSkill();
  countdown();
  refresh();
</script>